<!DOCTYPE html>
<html>
<head>
<link href="/stylesheets/cart.css" rel="stylesheet" type="text/css" media="all" />
<link href='//fonts.googleapis.com/css?family=Signika:400,300,600,700' rel='stylesheet' type='text/css'>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
	<!-- main -->
		<div class="main">
			<div class="main-grid1">
			</div>
			<div class="main-grid2">
				<h2>My Shopping Bag (3)</h2>
				<div class="cart_box">
					<div class="message" id="msg<%=title%>">
						 <div class="alert-close"> </div>
						<div class="list_img"><img src="images/601.png" class="img-responsive" alt=""/></div>
						<div class="list_desc"><h4><a href="#">Velit esse molestie</a></h4><span class="actual">
						 $30.00</span></div>
						  <div class="clear"></div>
					</div>
				</div>
				<script>
				var id = '#message' + '<%=title%>'
				$(document).ready(function(c) {
					$('.alert-close').on('click', function(c){
						$('#msg<%=title%>').fadeOut('slow', function(c){
							  $('#msg<%=title%>').remove();
						});
					});
				});
				</script>
				<div class="cart_box">
				 <div class="message">
					 <div class="alert-close"> </div>
					<div class="list_img"><img src="images/601.png" class="img-responsive" alt=""/></div>
					<div class="list_desc"><h4><a href="#">Velit esse molestie</a></h4><span class="actual">
					 $15.00</span></div>
					  <div class="clear"></div>
				  </div>
				</div>
				<div class="cart_box1">
				  <div class="message">
					 <div class="alert-close"> </div>
					<div class="list_img"><img src="images/601.png" class="img-responsive" alt=""/></div>
					<div class="list_desc"><h4><a href="#">Velit esse molestie</a></h4><span class="actual">
					 $20.00</span></div>
					  <div class="clear"></div>
				  </div>
				</div>
				<div class="total">
					<div class="total-left">
						<p>Total :<span> $65</span></p>
					</div>
					<div class="total-right">
						<a href="#">주문 하기</a>
					</div>
					<div class="clear"> </div>
				</div>
			</div>
		</div>
	<!-- //main -->
</body>
</html>
